@use "../../../assets/styles/colors.scss" as *;
@use "../../../assets/styles/global.scss" as *;

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: $light-gray;
    background: $navy-gradient;
    height: 4rem;
    border-top: 1px solid hsla(0, 0%, 100%, 0.1);
}
