@use "../../../assets/styles/colors.scss" as *;
@use "../../../assets/styles/global.scss" as *;

.aboutMe {
    @extend .container;
    background: $navy-gradient;
    height: 100vmin;
    padding: 1rem;

    &_wrapper {
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        margin: auto;
        width: 100%;
        max-width: 1320px;
        &_image {
            width: 50%;
            height: auto;
            filter: drop-shadow(5px 5px 5px $dark-navy);
            &_wrapper {
                width: fit-content;
                background-color: $light-navy;
                border-radius: 2rem;
                border: 0.5px solid hsla(0, 0%, 100%, 0.1);
                > img {
                    max-height: 500px;
                }
            }
        }
        &_info {
            display: flex;
            flex-direction: column;
            gap: 1.5rem;
            width: 50%;
            &_title {
                background-color: $ocean-blue;
                width: fit-content;
                padding: 0.5rem;
                border-radius: 0.5rem;
                letter-spacing: 4px;
                > p {
                    text-transform: uppercase;
                    font-size: 1em;
                }
            }
            &_available {
                > p {
                    text-transform: uppercase;
                    font-size: 2.5em;
                    :nth-child(1) {
                        color: $bright-blue;
                    }
                }
            }
            &_saying {
                > p {
                    font-size: 1em;
                }
            }
            &_reviews {
                display: flex;
                gap: 1rem;
                width: 380px;
                &_reviewBox {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    gap: 0.5rem;
                    padding: 1.25rem;
                    text-transform: capitalize;
                    background-color: $light-navy;
                    border: 0.5px solid hsla(0, 0%, 100%, 0.1);
                    border-radius: 0.5rem;
                    &_number {
                        font-size: 28px;
                    }
                    &_text {
                        font-size: 13px;
                    }
                }
            }
            &_getInTouch {
                display: flex;
                gap: 1.5rem;
            }
        }
    }
}

@media (max-width: 1024px) {
    .aboutMe {
        height: auto;
        padding: 2rem 0.5rem;
        &_wrapper {
            flex-direction: column-reverse;
            justify-content: center;
            align-items: center;
            gap: 1rem;
            &_image {
                &_wrapper {
                    display: flex;
                    justify-content: center;
                    > img {
                        width: 100%;
                        height: 100%;
                    }
                }
            }
            &_info {
                z-index: 1;
                width: 100%;
                display: flex;
                flex-direction: column;
                text-align: center;
                align-items: center;
                &_reviews {
                    display: flex;
                    justify-content: center;
                    flex-direction: row;
                    margin: auto;
                    align-items: center;
                    width: 100%;
                }
            }
        }
    }
}

@media (max-width: 768px) {
    .aboutMe {
        &_wrapper {
            &_image {
                &_wrapper {
                    > img {
                        width: 85%;
                        height: 85%;
                    }
                }
            }
        }
    }
}

@media (max-width: 480px) {
    .aboutMe {
        height: auto;
        &_wrapper {
            // flex-direction: column;
            // align-items: center;
            &_image {
                width: 100%;
                &_wrapper {
                    > img {
                        // max-height: 300px;
                    }
                }
            }
            &_info {
                width: 100%;
                align-items: center;
                text-align: center;
                &_reviews {
                    width: 100%;
                    // flex-direction: column;
                    align-items: center;
                }
            }
        }
    }
}
