@use "../../../assets/styles/colors.scss" as *;
@use "../../../assets/styles/global.scss" as *;

.navbar {
    text-transform: uppercase;
    padding-block: 1.25rem;
    width: 100%;
    background: transparent;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    &_wrapper {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        max-width: 1320px;
        margin: auto;
        padding: 0 0.75rem;
        &_logo {
            display: flex;
            align-items: center;
            text-align: center;
            font-size: 2.5em;
            > img {
                width: 2rem;
                height: 2rem;
            }
        }
        &_navigation {
            display: flex;
            align-items: center;
            margin-left: auto;
            &_links {
                display: flex;
                padding: 0 3.125rem 0 0;
                margin: 0 0 0 auto;
                gap: 1.25rem;
                > a {
                    color: $light-gray;
                    font-size: 0.875em;
                    padding: 0.5rem 0;
                    height: fit-content;
                    letter-spacing: 1px;
                }
            }
            &_contactLink {
                font-size: 1em;
            }
        }
        &_open {
            pointer-events: auto;
            margin-left: auto;
            display: none;
        }
    }
}

@media (max-width: 768px) {
    .navbar {
        &_wrapper {
            &_logo {
                font-size: 2em;
                > img {
                    width: 1.7rem;
                    height: 1.7rem;
                }
            }
        }
    }
}

.scrolled {
    background: $dark-navy;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 9998;
}

.active {
    @extend .active_underline;
}

.inactive {
    @extend .inactive_underline;
}

@media (max-width: 885px) {
    .navbar {
        &_wrapper {
            &_navigation {
                display: none;
            }
            &_open {
                display: block;
            }
        }
    }
}
