@use "../../../assets/styles/colors.scss" as *;
@use "../../../assets/styles/global.scss" as *;

.main {
    @extend .container;
    background: $navy-gradient;
    padding-top: 240px;
    height: 100vmin;
    &_wrapper {
        padding: 1rem 0.5rem;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: auto;
        width: 100%;
        gap: 10rem;
        max-width: 1320px;
        &_info {
            display: flex;
            flex-direction: column;
            gap: 1.5rem;
            width: 50%;
            &_name {
                background-color: $ocean-blue;
                width: fit-content;
                padding: 0.5rem;
                border-radius: 0.5rem;
                letter-spacing: 4px;
                > p {
                    text-transform: uppercase;
                    font-size: 1em;
                }
            }
            &_profession {
                > p {
                    text-transform: uppercase;
                    font-size: 4em;
                    :nth-child(1) {
                        color: $bright-blue;
                    }
                }
            }
            &_saying {
                > p {
                    font-size: 1.25em;
                }
            }
            &_contacts {
                display: flex;
                align-items: center;
                gap: 1.5rem;
                > div {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    gap: 0.5rem;
                }
            }
        }
        &_image {
            width: 50%;
            height: auto;
            filter: drop-shadow(5px 5px 5px $dark-navy);
            > img {
                filter: drop-shadow(3.5px 3.5px 5px $light-navy);
                height: 675px;
            }
        }
    }
}

@media (max-width: 1320px) {
    .main {
        padding-top: 170px;
        &_wrapper {
            padding-block: unset;
        }
    }
}

@media (max-width: 1024px) {
    .main {
        padding-inline: unset;
        &_wrapper {
            gap: 1rem;
            &_image {
                display: none;
            }
            &_info {
                display: flex;
                flex-direction: column;
                text-align: center;
                align-items: center;
                &_name {
                    > p {
                        font-size: 0.8em;
                    }
                }
                &_profession {
                    > p {
                        font-size: 3em;
                    }
                }
                &_saying {
                    font-size: 1em;
                }
            }
        }
    }
}

@media (max-width: 768px) {
    .main {
        padding-top: unset;
        height: 100vh;
    }
}

@media (max-width: 480px) {
    .main {
        &_wrapper {
            &_info {
                width: 100%;
                align-items: center;
                text-align: center;
                &_contacts {
                    flex-direction: column;
                }
            }
        }
    }
}
