@use "../../../assets/styles/global/colors.scss" as *;
@use "../../../assets/styles/global/global.scss" as *;
.projects {
    @extend .container;
    background: $background;
    height: 100vh;
    > div {
        width: 100%;
        background-color: yellow;
    }
}
