@use "../../../assets/styles/colors.scss" as *;
@use "../../../assets/styles/global.scss" as *;

.button {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    text-align: center;
    width: fit-content;
    height: fit-content;
    gap: 0.5rem;
    border: 1px solid transparent;
    border-radius: 2.5rem;
    background: $bright-blue;
    padding: 0.813rem 1.875rem;
    font-size: 1em;
    white-space: nowrap;
    > img {
        position: inherit;
        z-index: 1;
        width: 0.75rem;
        height: fit-content;
        transform: rotate(90deg);
    }
    &:hover {
        background-color: black;
        border: 1px solid $light-gray;
        cursor: pointer;
    }
}

@media (max-width: 1024px) {
    .button {
        padding: 0.5rem 1.25rem;
        font-size: 0.875em;
    }
}
