@use "../../../assets/styles/global/colors.scss" as *;
@use "../../../assets/styles/global/global.scss" as *;

.main {
    @extend .container;
    background: $background;
    padding-top: 240px;
    height: 100vmin;
    &_wrapper {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: auto;
        width: 100%;
        gap: 10rem;
        max-width: 1320px;
        &_info {
            display: flex;
            flex-direction: column;
            gap: 1.5rem;
            width: 50%;
            &_name {
                background-color: $light-navy;
                width: fit-content;
                padding: 0.5rem;
                border-radius: 0.5rem;
                > p {
                    text-transform: uppercase;
                    font-size: 1em;
                }
            }
            &_profession {
                > p {
                    text-transform: uppercase;
                    font-size: 4.375em;
                    :nth-child(1) {
                        color: $bright-blue;
                    }
                }
            }
            &_saying {
                > p {
                    font-size: 1.25em;
                }
            }
            &_contacts {
                display: flex;
                gap: 1.5rem;
                > div {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    gap: 0.5rem;
                }
            }
        }
        &_image {
            width: 50%;
            height: auto;
            filter: drop-shadow(5px 5px 5px $dark-navy);
            > img {
                filter: drop-shadow(3.5px 3.5px 5px $light-navy);
                height: 675px;
            }
        }
    }
}
