@use "../../../assets/styles/colors.scss" as *;
@use "../../../assets/styles/global.scss" as *;

.icon {
    > a {
        > img {
            display: flex;
            align-items: center;
            justify-content: center;
            text-decoration: none;
        }
    }
    &:hover {
        transform: translateY(-0.5rem);
    }
}
