// colors

$modern-gray: #707476;
$bright-blue: #0788ff;
$sky-blue: #1877f2;
$hot-pink: #f26798;
$deep-blue: #1275b1;
$dark-navy: #040c16;
$light-navy: #07233b;
$light-gray: #f0f0f0;
$warm-yellow: #ffc107;

$background: linear-gradient(0.25turn, $light-navy, $dark-navy);
