@use "./assets/styles/colors.scss" as *;

@font-face {
    font-family: "Space Grotesk";
    src: url("./assets/fonts/Space_Grotesk/static/SpaceGrotesk-Medium.ttf");
    font-display: swap;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    user-select: none;
    font-family: "Space Grotesk", sans-serif;
    transition: all 0.3s ease-out;
    color: $light-gray;
    scrollbar-width: none !important; // For Firefox
    -ms-overflow-style: none !important; // For IE and Edge
    cursor: none !important; // Hiding cursor in website
    &::-webkit-scrollbar {
        display: none !important; // For Chrome, Safari
    }
}

body {
    background: $navy-gradient;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    scroll-behavior: smooth;
    overflow-x: hidden;
    overflow-y: scroll !important;
}

a {
    text-decoration: none;
    cursor: pointer;
}
